.postCard {
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

  .contentRow {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .textArea {
      width: calc(100% - 220px);
      padding-right: 20px;

      :deep(a) {
        text-decoration: none;
        color: #000000;

        &:hover {
          color: #409eff;
          text-decoration: underline;
        }
      }

      .postTitle {
        font-size: 18px;
        font-weight: 600;
        margin: 8px 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .postContent {
        font-size: 14px;
        color: #666;
        line-height: 1.5;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: 63px; // 添加最小高度(1.5 * 14px * 3行),无论内容多少，标题和内容区域都会保持固定的高度，布局不会发生变化
      }
    }

    .postImage {
      width: 200px;
      height: 120px;
      border-radius: 6px;
    }
  }

  .postCardBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .leftInfo,
    .rightInfo {
      display: flex;
      align-items: center;
      font-size: 13px;

      div {
        display: flex;
        align-items: center;
        margin-right: 15px;

        :deep(.el-avatar) {
          margin-right: 5px;
        }

        :deep(.el-icon) {
          margin-right: 3px;
        }
      }
    }

    .read-time {
      font-size: 12px;
      color: #666;
    }
  }
}
