.dictContainer {
  background-color: #f5f5f5;
  border-radius: 0;
  padding: 0;
  height: calc(100vh - 64px); // 减去header高度
  margin: -24px;
}

.leftCard {
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
}

.rightPanel {
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
}

.dictTitle{
  font-size: 20px;
  font-weight: bold;
}
.dictTable {
  width: 100%;
  border-collapse: collapse;
  
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  tbody td:first-child,
  tbody td:nth-child(3),
  tbody td:nth-child(5),
  tbody td:nth-child(6) {
    background-color: #f5f5f5;
    font-weight: bold;
  }
}
