<footer class="light">
    <!-- footer main-->
    <!-- Start Footer Content-->
    <div class="footer-content special-layout">
        <div class="footer-main">
            <div class="ft-widget-area full-width">
                <div class="alay-widget">
                    <div class="widget-title title"><span class="font-weight-bold"> Follow on instagram</span></div>
                    <div class="widget-content">
                        <div class="instagram-gallery alay-col-6"><a href="#" class="img-wrap"><img src="/assets/images/instagram/follow-insta-01.jpg" alt="Alay"></a><a href="#" class="img-wrap"><img src="/assets/images/instagram/follow-insta-02.jpg" alt="Alay"></a><a href="#" class="img-wrap"><img src="/assets/images/instagram/follow-insta-03.jpg" alt="Alay"></a><a href="#" class="img-wrap"><img src="/assets/images/instagram/follow-insta-04.jpg" alt="Alay"></a><a href="#" class="img-wrap"><img src="/assets/images/instagram/follow-insta-05.jpg" alt="Alay"></a><a href="#" class="img-wrap"><img src="/assets/images/instagram/follow-insta-06.jpg" alt="Alay"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Content-->
    <!-- Footer bottom-->
    <div class="site-info footer-bottom">
        <div class="container">
            <div class="block-left">
                <div class="alay-widget wg-social">
                    <ul class="socials list-inline wg-social light">
                        <li><a href="http://facebook.com/" class="swin-transition"><i class="swin-transition fa fa-facebook"></i></a></li>
                        <li><a href="http://twitter.com/" class="swin-transition"><i class="swin-transition fa fa-twitter"></i></a></li>
                        <li><a href="http://skype.com/" class="swin-transition"><i class="swin-transition fa fa-skype"></i></a></li>
                        <li><a href="http://pinterest.com/" class="swin-transition"><i class="swin-transition fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="block-right">
                <div class="content-text"><span class="text">Copyright © 2021 - By <a href="http://www.bootstrapmb.com/">bootstrapmb</a></span></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</footer><a id="totop" href="#" class="animated zoomIn"><i class="fa fa-angle-up"></i></a>