<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canbe.mapper.SysArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.canbe.pojo.SysArticle">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="category_id" property="categoryId" />
        <result column="title" property="title" />
        <result column="cover" property="cover" />
        <result column="summary" property="summary" />
        <result column="content" property="content" />
        <result column="content_md" property="contentMd" />
        <result column="read_type" property="readType" />
        <result column="is_stick" property="isStick" />
        <result column="status" property="status" />
        <result column="is_original" property="isOriginal" />
        <result column="is_carousel" property="isCarousel" />
        <result column="is_recommend" property="isRecommend" />
        <result column="original_url" property="originalUrl" />
        <result column="quantity" property="quantity" />
        <result column="keywords" property="keywords" />
        <result column="ai_describe" property="aiDescribe" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, category_id, title, cover, summary, content, content_md, read_type, is_stick, status, is_original, is_carousel, is_recommend, original_url, quantity, keywords, ai_describe, create_time, update_time
    </sql>

</mapper>
