<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 彩色日志配置 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{HH:mm:ss.SSS}){faint} %clr([%thread]) %clr(%-5level){highlight} %clr(%logger{36}){cyan} - %msg%n</pattern>        </encoder>
    </appender>

    <!-- MyBatis SQL日志 -->
    <logger name="com.canbe.mapper" level="DEBUG"/>
    <logger name="org.apache.ibatis" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
