.article {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 10px;

  .articleHeader {
    padding: 24px 32px;

    h1 {
      font-size: 1.8em;
      line-height: 1.4;
      margin-bottom: 24px;
      text-align: left;
    }

    .articleHeaderInfo {
      display: flex;
      justify-content: space-between;
    }
  }

  .articleContent {
    padding: 24px 32px;
  }
}